<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EspecieServlet</servlet-name>
        <servlet-class>Servlets.EspecieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HabitatServlet</servlet-name>
        <servlet-class>Servlets.HabitatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZonaServlet</servlet-name>
        <servlet-class>Servlets.ZonaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItinerarioServlet</servlet-name>
        <servlet-class>Servlets.ItinerarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuiaServlet</servlet-name>
        <servlet-class>Servlets.GuiaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CuidadorServlet</servlet-name>
        <servlet-class>Servlets.CuidadorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuiaItinerarioServlet</servlet-name>
        <servlet-class>Servlets.GuiaItinerarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CuidadorEspecieServlet</servlet-name>
        <servlet-class>Servlets.CuidadorEspecieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArbitroServlet</servlet-name>
        <servlet-class>Servlets.ArbitroServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EspecieServlet</servlet-name>
        <url-pattern>/especie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HabitatServlet</servlet-name>
        <url-pattern>/habitat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZonaServlet</servlet-name>
        <url-pattern>/zona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItinerarioServlet</servlet-name>
        <url-pattern>/itinerario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuiaServlet</servlet-name>
        <url-pattern>/guia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CuidadorServlet</servlet-name>
        <url-pattern>/cuidador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuiaItinerarioServlet</servlet-name>
        <url-pattern>/guiaItinerario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CuidadorEspecieServlet</servlet-name>
        <url-pattern>/cuidadorEspecie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArbitroServlet</servlet-name>
        <url-pattern>/arbitro</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
